.sidebar {
  background: var(--gray-800);
  overflow: hidden;

  border-radius: 8px;
}

.cover {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: calc(0px - 2rem - 6px);
}

.profile strong {
  margin-top: 2rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profile p {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.6;
}

.sidebar footer {
  border-top: 1px solid var(--gray-700);

  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem 2rem;
}

.sidebar footer a {
  text-decoration: none;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--green-500);
  border-radius: 8px;

  padding: 1rem 1.5rem;

  font-size: 1rem;
  font-weight: 700;
  color: var(--green-500);
  gap: 0.5rem;

  transition: color 0.3s, background-color 0.3s;
}

.sidebar footer a:hover {
  background: var(--green-500);
  color: var(--white);
}